{
  "url": "http://www.google.com",
  "key": "A.aa95524170bf054c97494ebd4618e2a1",
  "location": "ec2-eu-west-1:Chrome",
  "output": "test/output/results.json",
  "timeout": 600,
  "budget": {
    "SpeedIndex": 5000
  }
}
